<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    <header>
        <h1>Our Story</h1>
    </header>
        <p> Since 2008, we have been committed to optimizing the link so marketers can own the customer experience. Bitly Enterprise - branded links, mobile deep linking, omnichannel campaign tracking, audience intelligence - gives the world's leading brands a holistic, unbiased view into an increasingly complex digital landscape, and a powerful way to see, control and own their customer experience across the internet. We are headquartered in New York City, with offices in San Francisco and Denver, and is trusted by leading brands like IBM, eBay, Nike, GE, BuzzFeed and thousands more.
        </p>
</body>
</html>

